* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-image: url("./images/homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.container {
  background-color: rgba(70, 218, 191, 0.7);
  min-height: 100vh;
}

.list a {
  color: black;
}
.list a:link {
  text-decoration: none;
}

.list {
  padding: 30px;
  list-style: none;
  display: flex;
  flex-basis: 65%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-right: 180px;
  margin-left: 180px;
}

.list button {
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  width: auto;
  padding: 10px 20px;
  background: rgba(70, 218, 191, 0.7);
}

.list button:hover {
  cursor: pointer;
}

.list img {
  width: 17px;
  height: 17px;
}

.midSection {
  text-align: center;
  position: relative;
  color: rgba(78, 77, 77, 1);
  background: rgba(224, 224, 224, 0.75);
  border-radius: 20px;
  width: 80%;
  margin: 60px auto;
}
.midSection h1 {
  padding-top: 80px;
  font-family: "Arial Rounded MT Bold";
  font-weight: 400;
  font-size: 36px;
  line-height: 24px;
}

.beatriceIcon {
  position: absolute;
  top: -36px;
  left: -54px;
}

.beatriceIcon img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.welcomePage {
  font-family: "Arial Rounded MT Bold";
  font-style: normal;
  font-size: 24px;
  font-weight: none;
}

.welcomePage h1 {
  line-height: 58px;
}

.names,
.email,
.password {
  padding: 30px;
}

.names input,
.email input,
.password input {
  width: 40%;
  padding: 15px;
  border-radius: 30px;
}

.signin {
  padding: 20px;
}

.signin button {
  width: 40%;
  padding: 15px;
  border-radius: 30px;
  font-family: "Arial Rounded MT Bold";
  color: rgba(78, 77, 77, 1);
  background-color: rgba(70, 218, 191, 0.7);
  font-style: normal;
  font-size: 24px;
  font-weight: none;
}

.signin h5 {
  padding: 10px;
}

.social_media_icons_signin button {
  width: 40%;
  padding: 15px;
  border-radius: 30px;
  background: rgba(224, 224, 224, 0.75);
  font-style: normal;
  font-size: 24px;
  font-weight: none;
}

.social_media_icons_signin img {
  cursor: pointer;
  height: 3vh;
}

.social_media_icons h3 {
  font-family: "Arial Rounded MT Bold";
}

.notMember {
  display: inline-flex;
  align-items: center;
  padding: 30px;
}

.notMember a {
  font-size: 20px;
  color: rgba(78, 77, 77, 1);
}

footer {
  flex-direction: column;
  text-align: center;
  font-family: "Arial Rounded MT Bold";
  color: rgba(78, 77, 77, 1);
}

.social_media_icons h3 {
  text-decoration: underline;
  padding-bottom: 10px;
}

.social_media_icons {
  justify-content: center;
}

.social_media_icons img {
  height: 30px;
  padding: 5px;
}

